.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(242, 243, 245);
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0 2px 8px #f2f3f5;
  }
  .main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
    padding: 0 30px;
    .content {
      height: 100%;
    }
    .toolbar {
      margin-left: 20px;
      width: 350px;
      height: 100%;
      padding: 12px 8px;
      border-radius: 4px;
      background-color: #fff;
    }
  }
}
