.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .back {
    cursor: pointer;
  }
  :global {
    .export-btn {
      background-color: #000;
      color: #fff;
    }
  }
}
